<html>

<head>
	<meta charset='utf-8'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='icon-192.png') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<title>EDAR 4.0</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 shadow">
			<a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='icon-192.png') }}", class="img-responsive logo", height="35px", alt="EDAR 4.0"><span>EDAR 4.0</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item {% if active_page == 'perfil' %}active{% endif %}">
						<a class="nav-link" href="{{ url_for('index') }}">Perfil<span
								class="sr-only"></span></a>
					</li>
					{% if session['username'] == 'rapidminer' %}
					<li class="nav-item {% if active_page == 'prediccion' %}active{% endif %}">
						<a class="nav-link" href="{{ url_for('cartuja_prediction') }}">
							Predicciones<span class="sr-only"></span></a>
					</li>
					{% endif %}
				</ul>
				<ul class="navbar-nav">
					{% if session['username'] %}
					<!-- <li class="nav-item disabled active">
						<a class="nav-link">{{ session['username'] }}</a>
					</li> -->
					<!-- <li class="nav-item">
						<li class="nav-item disabled active">
							<a class="nav-link">{{ session['username'] }}</a>
						</li><br>
						<a class="nav-link" href="{{ url_for('logout') }}">(Cerrar sesión)</a>
					</li> -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
							<i class="fas fa-user"></i> {{ session['username'] }} </a>
						<div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
							<a class="dropdown-item" href="{{ url_for('logout') }}">Cerrar sesión</a>
						</div>
					</li>
					{% else %}
					<li class="nav-item {% if active_page == 'login' %}active{% endif %}">
						<a class="nav-link" href="{{ url_for('login') }}">Iniciar sesión</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</header>
	<section class="content">
		<div class="container-fluid">
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class='h3 mb-0 text-gray-800'>Dashboard Cartuja</h1>
			</div>
			{% block content %}{% endblock %}
		</div>
	</section>
</body>

</html>