<!doctype html>
<html>

<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='icon-192.png') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<title>EDAR 4.0</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark bg-edar mb-4 shadow">
			<a class="navbar-brand d-flex align-items-center" href="/"><img id="logo" src="{{ url_for('static', filename='icon-192.png') }}", class="img-responsive logo mr-2", height="35px", alt="EDAR 4.0"><span>EDAR 4.0<b>CARTUJA</b></span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					{% if session['username'] == 'rapidminer' %}
					<li class="nav-item dropdown {% if active_page == 'perfil' %}active{% endif %}">
						<a class="nav-link dropdown-toggle" href="{{ url_for('index') }}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Perfil</a>
						<div class="dropdown-menu" aria-labelledby="dropdown01">
						  <a class="dropdown-item" href="{{ url_for('index') }}">Periodo 1</a>
						  <a class="dropdown-item" href="{{ url_for('perfil_p2') }}">Periodo 2</a>
						  <a class="dropdown-item" href="{{ url_for('perfil_comp') }}">Comparativo</a>
						</div>
					</li>
					<li class="nav-item dropdown {% if active_page == 'prediccion' %}active{% endif %}">
						<a class="nav-link dropdown-toggle" href="{{ url_for('cartuja_prediction') }}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Predicciones</a>
						<div class="dropdown-menu" aria-labelledby="dropdown01">
						  <a class="dropdown-item" href="{{ url_for('cartuja_prediction') }}">Periodo 1</a>
						  <a class="dropdown-item" href="{{ url_for('cartuja_prediction_p2') }}">Periodo 2</a>
						  <a class="dropdown-item" href="{{ url_for('cartuja_prediction_comp') }}">Comparativo</a>
						</div>
					</li>
					{% endif %}
				</ul>
				<ul class="navbar-nav navbar-right">
					{% if session['username'] %}
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
							<i class="fas fa-user"></i>
							<span>{{ session['username'] }}</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
							<a class="dropdown-item" href="{{ url_for('logout') }}">Cerrar sesión</a>
						</div>
					</li>
					{% else %}
					<li class="nav-item {% if active_page == 'login' %}active{% endif %}">
						<a class="nav-link" href="{{ url_for('login') }}">Iniciar sesión</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</header>
	<main role="main" class="container-fluid">
		{% block content %}{% endblock %}
	</main>
	<footer class="sticky-footer">
        <div class="container mt-3 mb-3">
          <div class="copyright text-center my-auto">
            <span>Copyright © Vicomtech 2019</span>
          </div>
        </div>
    </footer>
</body>

</html>